@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
   background-color: rgb(102, 102, 102);
}

/* ==========================FEATURED__CARDS==========================*/
.featured__cards {
   max-width: 800px;
   width: 100%;
   margin-inline: auto;

   display: flex;
   flex-wrap: wrap;

   padding: 12px;
}

/* ____________card__item____________ */
.card__item {
   position: relative;
   margin: 0 -1px -1px 0;
   flex: 0 0 calc(33.333% + 1px);
   min-height: 100px;

   background-color: #fff;
   border: 1px solid #E6E6E6;
   transition: all 0.3s;
}

.card__item::before {
   position: absolute;
   top: -1px;
   left: -1px;
   right: -1px;
   bottom: -1px;
   z-index: 2;

   border: 1px solid green;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   pointer-events: none;
   opacity: 0;

   content: '';
   transition: all 0.3s;
}
.card__item:hover::before {
   border: 1px solid #2C742F;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   opacity: 1;
}
.card__item:hover .card__image-buttons {
   opacity: 1;
   visibility: visible;
}

.card__content {
   padding: 5px;
}
.card__img-link {
   position: relative;
   aspect-ratio: 254/230;
}
.c-link__image {
   width: 100%;
   height: 100%;
   aspect-ratio: 254/230;
   object-fit: contain;
}


.card__image-buttons {
   position: absolute;
   right: 11px;
   top: 11px;

   display: flex;
   flex-direction: column;
   gap: 6px;

   opacity: 0;
   visibility: hidden;
   transition: all 0.3s;
}


/* ____________________IMG ACTIONS____________________ */

/*____________img-action__favorite____________*/
.img-action__favorite {
   background-color: #FFF;
   border-radius: 50%;
   border: 1px solid #F2F2F2;
   padding: 10px;
   transition: all 0.3s;
}
.img-action__favorite::after {
   display: flex;
   align-self: center;
   content: "";
   background: url("../img/main/favourite-icon.svg") 0 0 / contain no-repeat;
   width: 20px;
   height: 20px;
   transition: all 0.3s;
}
/* hovers */
.img-action__favorite:hover{
   background-color: #00B207;
   border: 1px solid #00B207;
}
.img-action__favorite:hover::after{
   content: "";
   filter: invert(1) brightness(2);
   width: 20px;
   height: 20px;
}


/* ____________img-action__eye____________ */
.img-action__eye {
   background-color: #FFF;
   border-radius: 50%;
   border: 1px solid #F2F2F2;
   padding: 10px;
   transition: all 0.3s;
}
.img-action__eye::after {
   display: flex;
   align-self: center;
   content: "";
   background: url("../img/main/eye-icon.svg") 0 0 / contain no-repeat;
   width: 20px;
   height: 20px;
   transition: all 0.3s;
}
/* hovers */
.img-action__eye:hover{
   background-color: #00B207;
   border: 1px solid #00B207;
}
.img-action__eye:hover::after{
   content: "";
   filter: invert(1) brightness(2);
   width: 20px;
   height: 20px;
}





/* -------------------CARD BODY------------------- */
.card__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 15px;

   font-family: "Poppins", Arial, sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #4D4D4D;
}
.c-body {
   padding: 12px;
}


/* ____________c-body__info-block____________ */
.c-body__info-block {
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.c-body__text-block {
   display: flex;
   flex-direction: column;
   gap: 3px;
}
.c-body__price-block {
   display: flex;
   column-gap: 5px;
   color: #1A1A1A;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
}
.price__old {
   color: #999;
   font-weight: 400;
   text-decoration: line-through;
}


/* ____________rating-stars____________ */
.rating-stars__list {
   display: flex;
}


/* ____________bag-button____________ */
.bag-button__button {
   background: #F2F2F2;
   border-radius: 50%;
   padding: 10px 12px;
   transition: all 0.3s;
}
.bag-button__button::after {
   content: "";
   background: url("../img/main/black-bag.svg") 0 0 / cover  no-repeat;
   width: 20px;
   height: 20px;
   transition: all 0.3s;
}
.bag-button__button:hover {
   background: #00B207;
   border-radius: 50%;
   padding: 10px 12px;
}
.bag-button__button:hover::after {
   content: "";
   filter: invert(1) brightness(2);
   width: 20px;
   height: 20px;
}