@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}

/* ____________HEADEAR____________ */

.header__content{
   background-color: #00B207;
   color: #FFF;
   font-family: "Poppins", Arial, sans-serif;
   font-size: 28px;
   font-weight: 500;
   line-height: 1.5;
}

.header__container {
   max-width: 550px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

/* ____________MAIN____________ */
.main__container {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 15px;
}

.main__forms {
   display: flex;
   gap: 26px;
}





/* --------------MAIN__BILLING-------------- */

.main__form {
   font-family: "Poppins", Arial, sans-serif;
   color: #1A1A1A;
   flex-basis: 872px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.form__title {
   font-size: 24px;
   font-weight: 500;
}



/* FORM__NAME */
.form__name {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
.name__item {
   width: 100%;
}
.name__label {
   display: flex;
   flex-direction: column;
   gap: 7px;
}
.name__input {
   display: flex;
   width: 100%;
   padding: 14px;
   border: 1px solid #E6E6E6;
   border-radius: 6px;
   background: #FFF;
}
.name__input::placeholder {
   color: #969595;
}
.name__input:focus {
   outline:1.5px solid #969595;
}



/* FORM__ADDRESS */
.form__address {
   display: flex;
}
.address__form {
}
.address__item {
}
.address__item--full-width {
   width: 100%;
}
/* модифікатор необхідно додати до того елементу, 
якому ви хочете внести ту, чи іншу зміну. 
Якщо вам необхідно вказати для form__item width: 100%; 
але при цьому не затронути інші елементи, які також мають цей клас, 
то необхідно саме для цього елемента, вказати модифікатор. 
Зараз він у вас має назву form__input--full-width, але пам'ятаємо,
що за правилами бем ми не можемо використовувати модифікатор без бем-елементу, 
або бем-блоку, тому модифікатор треба перейменувати на form__item--full-width */
.address__label {
   display: flex;
   flex-direction: column;
   gap: 7px;
}
.address__span {
}
.address__input {
   padding: 14px;
   border: 1px solid #E6E6E6;
   border-radius: 6px;
   background: #FFF;
}
.address__input--full-width {
   width: 100%;
}
.address__input::placeholder {
   color: #969595;
}
.address__input:focus {
   outline:1.5px solid #969595;
}



/* FORM__LOCATION */
.form__location {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
.location__form {
}
.location__item {
}
.location__label {
   display: flex;
   flex-direction: column;
   gap: 7px;
}
.location__span {
}
.location__select {
   min-width: 280px;
   padding: 14px;
   border: 1px solid #E6E6E6;
   border-radius: 6px;
   background: #FFF;
}
.location__input {
   padding: 14px;
   border: 1px solid #E6E6E6;
   border-radius: 6px;
   background: #FFF;
}
.location__input::placeholder {
   color: #969595;
}
.location__select:focus {
   outline:1.5px solid #969595;
}


/* FORM__CONNECTION */
.form__connection {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
.connection__form {
}
.connection__item {
   display: flex;
   gap: 10px;
}
.connection__label {
   display: flex;
   flex-direction: column;
   gap: 7px;
}
.connection__span {
}
.connection__input {
   padding: 14px;
   border: 1px solid #E6E6E6;
   border-radius: 6px;
   background: #FFF;
}
.connection__input::placeholder {
   color: #969595;
}
.connection__input:focus {
   outline:1.5px solid #969595;
}
.connection__input--large {
   min-width: 428px;
}



/* FORM__CHECKBOX */
.form__checkbox {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   padding-bottom: 32px;
   border-bottom: 1px solid #E6E6E6;
}
.checkbox__form {
}
.checkbox__item {
   display: flex;
   gap: 10px;
}
.checkbox__label {
}
.checkbox__input {
   opacity: 0;
   width: 0;
   height: 0;
}
.checkbox__input::placeholder {
   color: #969595;
}
.checkbox__input:focus {
   outline:1.5px solid #969595;
}
.checkbox__span {
   display: flex;
   align-items: center;
   gap: 6px;
   color: #4D4D4D;
   font-size: 14px;
   font-weight: 400;
}
.checkbox__span::before {
   content: "";
   width: 19px;
   height: 19px;
   align-self: flex-start;
   border: 1px solid #969595;
   border-radius: 5px;
}
.checkbox__input:checked + .checkbox__span::before {
   background: url("../img/main/сheckmark.svg") 0 0 no-repeat;
}



/* FORM__TITLE */ 
.form__title {
   padding-top: 20px;
   margin-bottom: 15px;
}



/* FORM__ADD-INFO */
.form__add-info {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
.add-info__form {
}
.add-info__item {
   display: flex;
   gap: 10px;
   width: 100%;
}
.add-info__label {
   display: flex;
   flex-direction: column;
   gap: 8px;
   width: 100%;
}
.add-info__span {
}
.add-info__textarea {
   font-family: "Poppins", Arial, sans-serif;
   font-size: 16px;
   min-height: 100px;
   background: #ffffff;
   border-radius: 6px;
   border: 1px solid #E6E6E6;
   padding: 14px 16px;
   resize: vertical;
}
.add-info__textarea::placeholder {
   color: #969595;
}
.add-info__textarea:focus {
   outline:1.5px solid #969595;
}










/* .form__input::placeholder {
   color: #969595;
}

.form__input:focus {
   outline:1.5px solid #969595;
}

.form__input--large {
   min-width: 428px;
}

.form__select:focus {
   outline:1.5px solid #969595;
} */

/* .form__checkbox {
   opacity: 0;
   width: 0;
   height: 0;
}

.form__checkbox:checked + .form__span--checkbox::before {
   background: url("../img/main/сheckmark.svg") 0 0 no-repeat;
}

.form__span--checkbox {
   display: flex;
   align-items: center;
   gap: 6px;
   color: #4D4D4D;
   font-size: 14px;
   font-weight: 400;
}

.form__span--checkbox::before {
   content: "";
   width: 19px;
   height: 19px;
   align-self: flex-start;
   border: 1px solid #969595;
   border-radius: 3px;
} */

/* .form__textarea {

}
/* --full-width */

/* .form__item--full-width {
   width: 100%;
} */
/* модифікатор необхідно додати до того елементу, 
якому ви хочете внести ту, чи іншу зміну. 
Якщо вам необхідно вказати для form__item width: 100%; 
але при цьому не затронути інші елементи, які також мають цей клас, 
то необхідно саме для цього елемента, вказати модифікатор. 
Зараз він у вас має назву form__input--full-width, але пам'ятаємо,
що за правилами бем ми не можемо використовувати модифікатор без бем-елементу, 
або бем-блоку, тому модифікатор треба перейменувати на form__item--full-width */


/* .form__select {
   min-width: 280px;
   padding: 14px;
   color: #999;
   border: 1px solid #E6E6E6;
   border-radius: 6px;
   background: #FFF;
}

 */


/* --------------MAIN__ORDER-------------- */
.main__order {
   max-height: 580px;
   font-family: "Poppins", Arial, sans-serif;
   font-size: 16px;
   background: #ffffff;
   border-radius: 6px;
   border: 1px solid #E6E6E6;
   padding: 24px;
   display: flex;
   flex-direction: column;
   flex-basis: 424px;
   gap: 24px;
}
.order__title {
   font-size: 20px;
   font-weight: 500;
}


/* summery */
.order__summery {
   display: flex;
   flex-direction: column;
}
.summery__order {
}
.summery__item {
}
.summery__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}
.summery__link {
   display: flex;
   align-items: center;
   gap: 7px;
}
.summery__image {
}
.summery__name {
}
.summery__quantity {
}
.summery__price {
}



/* price */
.order__price {
   font-size: 14px;
   color: #4d4d4d;
   font-weight: 400;
}
.order__price >*:nth-child(2) {  
   border-top: 1px solid #e2e2e2;
   border-bottom: 1px solid #e2e2e2;
}
.price__order {
}
.price__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   gap: 25px;
}
.price__item--border {
}
.price__clarification {
   line-height: 1.5;
}
.price__c-answer {
   color: #1A1A1A;
   font-weight: 500;
   line-height: 1.5;
}
.price__clarification--bigger {
   font-size: 16px;
}
.price__c-answer--bigger {
   font-size: 18px;
   font-weight: 600;
   line-height: 1.2;
}



/* radio */
.order__radio {
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-size: 14px;
   color: #4d4d4d;
   font-weight: 400;
}
.radio__order {
}
.radio__item {
}
.radio__label {
   display: flex;
   align-items: center;
   gap: 6px;
}
.radio__input {
   opacity: 0;
   width: 0;
   height: 0;
}
.radio__span {
   display: flex;
   align-items: center;
   gap: 10px;
}
.radio__span::before{
   content: "";
   width: 20px;
   height: 20px;
   border: 1px solid #969595;
   border-radius: 50%;
}
.radio__input:checked + .radio__span::before {
   background: url("../img/main/radio.svg") 0 0 / 100% no-repeat;
   border: none;
}



/* button */
.order__button {
   width: 100%;
   display: flex;
   justify-content: center;
}

.button {
   display: inline-block;
   width: 100%;
   padding: 16px;
}
.button--green {
   font-family: "Poppins";
   font-size: 16px;
   font-weight: 600;
   line-height: 1.2;
   color: #FFF;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   user-select: none;
   border-radius: 43px;
   background-color: #00B207;
   transition: all 0.2s;
}

.button--green:hover {
   background-color: #FFF;
   color: #00B207;
   border: 1.5px solid #00B207;
}


/* ____________FOOTER____________ */

.footer__content{
   background-color: #00B207;
   color: #FFF;
   font-family: "Poppins", Arial, sans-serif;
   font-size: 28px;
   font-weight: 500;
   line-height: 1.5;
}

.footer__container {
   max-width: 550px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}