@import url("reset.css"); 

h2 {
   color: rgb(255, 0, 0);
}

#general * {
   color: rgb(0, 0, 255);
}

#biodiversity p {
   color: rgb(255, 0, 225);
}

.footer__container {
   color: darkviolet;
}

[class*="spec"] {
   color: yellow;
}

.economic-block p {
   color: aqua;
}

.other-block * {
   color: lime;
}  /* Всі об'єкти всередині об'єкту з класом */

.other-second-block > p {
   color: gold;
}

.other-third-block ~ p {
   color: rgb(255, 140, 0);
}

.sub-block-block + p {
   color: rgb(0, 123, 255);
}
